<h1 class="container ">Practicando con el contador</h1>
<br>
<div class="container">
    <div class="col-6">
        <h1>{{nombre()}}</h1>
        <h2>{{contador()}}</h2>
        <br>
        <div class="row">
            <button (click)=" aumentarContador()" class=" col-2 btn btn-primary mx-2">+1</button><br>
            <button (click)="decrementarContador()" class=" col-2 btn btn-primary mx-2">-1</button><br>
            <button (click)="restarContador()" class=" col-2 btn btn-primary mx-2">Restart</button><br>
        </div>
    </div>
</div>

