nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a.active{
    color: red;
    text-decoration: double;
}